@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700;800&family=Bebas+Neue&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--font-space-grotesk: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;
	--font-bebas-neue: 'Bebas Neue', ui-sans-serif, system-ui, sans-serif;
}

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-space-grotesk);
}

nav a {
	font-family: var(--font-space-grotesk);
}

